<h1 class="text-3xl font-bold mb-6">User Management</h1>

<%= link_to 'Add New User', new_user_registration_path, class: "mb-4 inline-block text-blue-600 hover:underline" %>

<table class="w-full table-auto border border-gray-300 rounded">
  <thead class="bg-gray-100">
    <tr>
      <th class="px-4 py-2 text-left">Email</th>
      <th class="px-4 py-2 text-left">Role</th>
      <th class="px-4 py-2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="border-t">
        <td class="px-4 py-2"><%= user.email %></td>
        <td class="px-4 py-2"><%= user.role.titleize %></td>
        <td class="px-4 py-2">
          <%= link_to 'Show', admin_user_path(user), class: "text-green-600 hover:underline" %>
          <%= link_to 'Edit', edit_admin_user_path(user), class: "text-blue-600 hover:underline" %>
          <%= button_to "Destroy", admin_user_path(user), method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
